@font-face {
  font-family: "NexaScript-Heavy";
  src: url("../fonts/NexaScriptHeavy/NexaScriptHeavy.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/NexaScriptHeavy/NexaScriptHeavy.eot?#iefix") format("embedded-opentype"), url("../fonts/NexaScriptHeavy/NexaScriptHeavy.otf") format("opentype"), url("../fonts/NexaScriptHeavy/NexaScriptHeavy.svg") format("svg"), url("../fonts/NexaScriptHeavy/NexaScriptHeavy.ttf") format("truetype"), url("../fonts/NexaScriptHeavy/NexaScriptHeavy.woff") format("woff"), url("../fonts/NexaScriptHeavy/NexaScriptHeavy.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "CarefreeCyrillic";
  src: url("../fonts/CarefreeCyrilyc/CarefreeCyrilyc.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/CarefreeCyrilyc/CarefreeCyrilyc.eot?#iefix") format("embedded-opentype"), url("../fonts/CarefreeCyrilyc/CarefreeCyrilyc.otf") format("opentype"), url("../fonts/CarefreeCyrilyc/CarefreeCyrilyc.svg") format("svg"), url("../fonts/CarefreeCyrilyc/CarefreeCyrilyc.ttf") format("truetype"), url("../fonts/CarefreeCyrilyc/CarefreeCyrilyc.woff") format("woff"), url("../fonts/CarefreeCyrilyc/CarefreeCyrilyc.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal; }
/* line 26, ../sass/contact.scss */
p {
  font-size: 1rem;
  font-family: 'Times New Roman',serif; }

/* line 33, ../sass/contact.scss */
.adres {
  font-size: 1.2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-left: 3rem;
  color: #73370f; }

/* line 40, ../sass/contact.scss */
body {
  background-image: url(../images/contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto; }

/* line 41, ../sass/contact.scss */
#cont-form p {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1rem;
  color: #8a2121; }

/* line 42, ../sass/contact.scss */
#cont-form .lead {
  font-size: 1.5rem;
  color: #1c6700; }

/* line 44, ../sass/contact.scss */
form {
  border: 2px solid #ff6138;
  padding: 1rem;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px; }

/* line 45, ../sass/contact.scss */
form span {
  font-size: 0.8rem;
  font-family: "yeseva-one"; }

/* line 47, ../sass/contact.scss */
.field-block {
  display: block;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

/* line 49, ../sass/contact.scss */
.field {
  width: 100%; }

/* line 51, ../sass/contact.scss */
.field-block .field {
  font-size: 16px;
  padding: 8px 12px;
  line-height: 1.5;
  border: 1px solid #A6EA71;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -moz-box-shadow: inset 2px -3px 5px #e87f3d;
  -webkit-box-shadow: inset 2px -3px 5px #e87f3d;
  box-shadow: inset 2px -3px 5px #e87f3d;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

/* line 53, ../sass/contact.scss */
.field-block .field:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

/* line 55, ../sass/contact.scss */
.field-block textarea {
  resize: vertical; }

/* line 57, ../sass/contact.scss */
#loader {
  display: none; }

/* line 59, ../sass/contact.scss */
.btnotprav {
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: #ff9900;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-radial-gradient(closest-side, #63d3cf 0, #63d3cf -105%, #63d3cf -105%, #63d3cf 0, #13c45a 54%, #46db64 100%);
  background: -moz-radial-gradient(closest-side, #63d3cf 0, #63d3cf -105%, #63d3cf -105%, #63d3cf 0, #13c45a 54%, #46db64 100%);
  background: radial-gradient(closest-side, #63d3cf 0%, #63d3cf -105%, #63d3cf -105%, #63d3cf 0%, #13c45a 54%, #46db64 100%);
  background-position: 50% 50%;
  -moz-background-origin: padding;
  -o-background-origin: padding-box;
  -webkit-background-origin: padding;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 2px 2px 2px 2px #3e890c;
  box-shadow: 2px 2px 2px 2px #3e890c;
  text-shadow: 1px 1px 0 rgba(15, 73, 168, 0.66);
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1); }

/* line 60, ../sass/contact.scss */
.btnotprav:hover {
  color: #cc4125;
  background: -webkit-radial-gradient(closest-side, #63d3cf 0, #63d3cf -105%, #63d3cf -105%, #d3762a 0, #63d3cf 0, #d8cb3e 0, #c1b013 54%, #d88745 100%);
  background: -moz-radial-gradient(closest-side, #63d3cf 0, #63d3cf -105%, #63d3cf -105%, #d3762a 0, #63d3cf 0, #d8cb3e 0, #c1b013 54%, #d88745 100%);
  background: radial-gradient(closest-side, #63d3cf 0%, #63d3cf -105%, #63d3cf -105%, #d3762a 0%, #63d3cf 0%, #d8cb3e 0%, #c1b013 54%, #d88745 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 4px 4px 4px 2px #87660c;
  box-shadow: 4px 4px 4px 2px #87660c;
  text-shadow: 1px 1px 0 lime;
  -webkit-transition: text-shadow 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: text-shadow 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: text-shadow 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: text-shadow 300ms cubic-bezier(0.42, 0, 0.58, 1); }
